body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: antiquewhite;
}

h1, h2, h3 {
    margin: 0;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    margin: 0;
    padding: 1rem;
}

main {
    max-width: 980px;
    margin: 2rem auto;
    padding: 2rem 0;
    background-color: white;
}

.project-card {
    width: 80%;
    margin: auto;
    text-align: center;
    margin-bottom: 5rem;
}

footer {
    background-color: black;
    color: white;
    padding: 1rem;
}

footer ul {
    margin: 0;
    list-style: none;
}

footer a{
    color: white;
}

footer li,
address {
    margin-bottom: .5rem;
    
}

.preview {
    width: 100%;
    max-width: 600px;
}

