/* :root {
    --no-margin: 0;
} */

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    background-color: black;
    color: white;
    margin:0;
    padding: 5px;
}

.month {
    display: flex;
    align-items: center;
}

.date {
    border-top: 2px solid black;
    margin: auto;
    text-align: center;
}

.days {
    background-color: black;
    color: white;
}

.date-table {
    table-layout: fixed;
    border-spacing: 0;
    width: 100%;
}

.day {
    background-color: lightblue;
    border: 1px solid grey;
    padding: 8px 0 3.5em 0;
}

.day:hover {
    opacity: 0.8;
}

.current-day {
    background-color:  green;
    color: white;
} 

.prev-arrow,
.next-arrow {
    display: block;
    margin: auto;
    align-self: center;
}


.prev-month,
.next-month {
    display: flex;
    flex: 1;
    align-self: stretch;
    
}

.target-month {
    flex: 2.5;
    text-align: center;
}
.next-month {
    flex: 1;
}

.prev-month:hover,
.next-month:hover {
    background-color: lightblue;
}

.active-date {
    background-color: purple;
    color: white;
}