/* :root {
    --no-margin: 0;
} */

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}

header {
    text-align: center;
    background-color: black;
    color: white;
    margin:0;
    padding: 5px;
}

input,
button {
  font-family: inherit;
  font-size: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box

}

.calendar {
    max-width: 920px;
    margin: auto;
}

.month {
    display: flex;
    align-items: center;
}

.date {
    border-top: 2px solid black;
    margin: auto;
    text-align: center;
}

.days {
    background-color: black;
    color: white;
}

.date-table {
    table-layout: fixed;
    border-spacing: 0;
    width: 100%;
}

.day {
    background-color: lightblue;
    border: 1px solid grey;
    padding: 8px 0 3.5em 0;
    position: relative;
}

.day:hover {
    opacity: 0.8;
}

.current-day {
    background-color:  green;
    color: white;
} 

.prev-arrow,
.next-arrow {
    display: block;
    margin: auto;
    align-self: center;
}


.prev-month,
.next-month {
    display: flex;
    flex: 1;
    align-self: stretch;
    
}

.target-month {
    flex: 2.5;
    text-align: center;
}
.next-month {
    flex: 1;
}

.prev-month:hover,
.next-month:hover {
    background-color: lightblue;
}

.active-date {
    background-color: purple;
    color: white;
}

input {
    padding: 1rem 1rem;
    font-size: 1.2rem;
    flex: 2;
    width: 80%;
    margin: auto;
}

button {
    padding: 1rem 1rem;
    background-color: green;
    border: 1px solid white;
    color: white;
    width: 80%;
    display: block;
    margin: auto;
}

.event-form {
    box-sizing: border-box;
    padding: 1rem;
    width: 90%;
    background-color: lightblue;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}